<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'/>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open%20Sans:300,400,600,700,800">
    <link rel='stylesheet' href='/js/vendor/timelineCV/css/timelineCV-black-0.2.css'/>
</head>
<body>
<!-- preloader -->
<div id="page-preloader" class="page-preloader">
    <!--        <div class="cssload-thecube">
                <div class="cssload-cube cssload-c1"></div>
                <div class="cssload-cube cssload-c2"></div>
                <div class="cssload-cube cssload-c4"></div>
                <div class="cssload-cube cssload-c3"></div>
        </div>-->
</div>

<header class="u-header">
    <div class="btn-navbar-mobile">
        <i class="fa fa-bars"> </i>
        <i class="fa fa-angle-double-up hide-btn"> </i>
        <a id="languageBtn" class="btn1 language-btn">EN/PL</a>
    </div>
    <nav class="navbar navbar-transparent hide">
        <div class="main-menu hide">
            <ul class="main-menu-nav">
                <li><a href="#main-section">Home</a></li>
                <li class="navbar-mobile-about"><a href="#about-section">About me</a></li>
                <li><a href="#cv-section">CV</a></li>
                <li><a href="#timeline-section">timeline</a></li>
                <li><a href="#projects-section">Projects</a></li>
                <li><a href="#skills-section">Skill mix</a></li>
                <li><a href="#blog" class="no-event" href="http://upir.me/blog">Blog</a></li>
                <li><a href="#contacts-section">Contacts</a></li>
            </ul>
            <a class="btn1 language-btn">EN/PL</a>
        </div>
    </nav>

</header>
<!-- main section -->
<section id="main-section" class="main-section">
    <div class="main-bg image-file1">
        <div class="container">
            <div class="main-section-title">

            </div>
            <ul class=" social-network">
                <li><a href="https://www.linkedin.com/in/vitaliy-upir-20020313?trk=hp-identity-name"
                       target="_blank"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="https://www.facebook.com/upirvo" target="_blank"><span
                                class="fa fa-facebook"></span></a>
                </li>
                <li><a href="https://github.com/sonik9" target="_blank"><span class="fa fa-github"></span></a>
                </li>
                <li style="color: #ffffff">
                    <a id="btn" class="btn"
                       href="#contacts-section">Contact . me</a>
                </li>
            </ul>
            <div class="btn-goto-about">
                <i class="fa fa-angle-double-down"></i>
            </div>
        </div>
    </div>
    <div id="about-section" class="main-about">
        <div class="container">
            <div class="header-block">
                <h2 class="section-title theme-animation fadeInUp  animation-delay-0 animateIt">
                    VITALII.<span>UPIR</span>
                </h2>
                <p class="section-description">Java && JavaScript Developer, Freelancer in Warsaw, Poland</p>
                <hr/>
            </div>
            <div class="about-block">
                <article>
                    <h5>
                        <p>Hi everyone! ;)</p>
                        <p>My name is Vitalii!
                            I am a Software developer with more than 1 year of JAVA/JavaScript experience and more than
                            10 years of IT experience.
                            I have enjoyed programming as a hobby since my student’s years.
                            I started professional programming in 2014 and have constantly explored new technologies in
                            software development.
                            Being focused on web development of business solutions (back-end/front-end),
                            I have developed all main <a href="#skills-section">IT-skills</a>,
                            required for development of qualitative software.
                            I have also got several realized <a href="#projects-section">projects</a>(blog, web-site1,
                            web-site2) as well as libraries and
                            modules.
                        <p>Based on my four-year experience of project management in IT, I possess the following
                            qualities:</p>
                        <ul>
                            <li>Efficient team management on all the stages of project organization and achievement of
                                objectives;
                            </li>
                            <li>Excellent problem-solver, able to quickly grasp complex and critical issues;</li>
                            <li>Multitasking and prioritizing;</li>
                            <li>Ability to work under pressure and meeting deadlines.</li>
                        </ul>
                        </p>
                    </h5>
                </article>
            </div>
        </div>
    </div>
</section>

<!-- CV section -->
<section id="cv-section" class="cv-section theme-section">
    <div class="container">
        <h2 class="section-title">Curriculum vitae</h2>
        <p class="section-description">Full description of my experience.</p>
        <hr>
        <div class="cv-block">
            <div class="cv-container eff-2-2">
                <h4>English</h4>
                <div class="cv-image">
                </div>
                <div class="desc cv-desc">
                    <a href="files/CV_DEV1_EN.pdf" class="btn" title="Download.it" target="_blank">Download.it</a>
                </div>
                <!--<div class="cv-label">EN</div>-->
            </div>
            <div class="cv-container eff-2-2">
                <h4>Polish</h4>
                <div class="cv-image">
                </div>
                <div class="desc cv-desc">
                    <a class="btn" href="files/CV_DEV1_PL.pdf" title="Download.it" target="_blank">Download.it</a>
                </div>
                <!--<div class="cv-label">PL</div>-->
            </div>
            <div class="cv-container eff-2-2">
                <h4>Russian</h4>
                <div class="cv-image">
                </div>
                <div class="desc cv-desc">
                    <a class="btn" title="Download.it">Download.it</a>
                </div>
                <!--<div class="cv-label">RU</div>-->
            </div>
        </div>
    </div>
</section>

<!-- timeline section -->
<section id="timeline-section" class="theme-section timeline-section">
    <div class="bg-timeline-section">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">Timeline</h2>
                <p class="section-description">My job and education.</p>
                <hr>
            </div>
            <!--<p>Under Construction</p><p>Under Construction</p><p>Under Construction</p>-->
            <div class="timeline">

            </div>
        </div>
    </div>
</section>
<section class="timeline-detail-section theme-section">
    <div class="timeline-detail-block"></div>
</section>

<!--Skill section-->
<section id="skills-section" class="theme-section skill-section">
    <div class="bg-skill-section">
        <div class="container">
            <h2 class="section-title"> Skill Mix</h2>
            <p class="section-description">My practical experience.</p>
            <hr>
            <div class="skills-block">

            </div>
        </div>
    </div>
</section>

<!-- Project section -->
<section id="projects-section" class="theme-section project-section">
    <div class="container">
        <h2 class="section-title">Projects</h2>
        <p class="section-description">My training and practice.</p>
        <hr>
        <div class="project-block">
            <div class="project-container eff-2-2">
                <h4>Project 1</h4>
                <div class="project-image">
                </div>
                <div class="desc project-desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    <a class="btn" title="Read.more" target="_blank">Read.more</a>
                </div>
                <!--<div class="cv-label">EN</div>-->
            </div>
            <div class="project-container eff-2-2">
                <h4>Project 2</h4>
                <div class="project-image">
                </div>
                <div class="desc project-desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    <a class="btn" title="Read.more" target="_blank">Read.more</a>
                </div>
                <!--<div class="cv-label">PL</div>-->
            </div>
            <div class="project-container eff-2-2">
                <h4>Project 3</h4>
                <div class="project-image">
                </div>
                <div class="desc project-desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    <a class="btn" title="Read.more">Read.more</a>
                </div>
                <!--<div class="cv-label">RU</div>-->
            </div>
        </div>
    </div>
</section>


<!-- Contacts section -->
<section id="contacts-section" class="theme-section contact-section">
    <div class="bg-contact-section">
        <div class="container">
            <h2 class="section-title">Contact to.me</h2>
            <p class="section-description">Send me message.</p>
            <hr/>
            <div class="contact-block">
                <form id="callback-form" class="" autocomplete="on">
                    <div class="input-group is-empty name">
                        <div class="input-group-addon"><span class="fa fa-user"></span></div>
                        <label class="input-label">Your name</label>
                        <input type="text" class="form-control" value=""/>
                        <span class="material-input"></span>
                    </div>
                    <!--<div class="input-group is-empty">
                        <div class="input-group-addon"><span class="fa fa-phone"></span></div>
                        <input type="text" name="u_phone" placeholder="Phone"
                               class="form-control requiredField phone" value="">
                    </div>-->
                    <div class="input-group is-empty email">
                        <div class="input-group-addon"><span class="fa fa-at"></span></div>
                        <label class="input-label">Your email</label>
                        <input type="text" name="u_mail" class="form-control" value="">
                        <span class="material-input"></span>
                    </div>
                    <div class="input-group is-empty message">
                        <div class="input-group-addon"><span class="fa fa-pencil"></span></div>
                        <label class="input-label static-label">Your message</label>
                        <textarea class="form-control message" name="u_text" rows="5"></textarea>
                        <span class="material-input"></span>
                    </div>
                    <a class="btn" id="sendMessage">Send</a>
                </form>
            </div>
        </div>
        <!--<div class="col subscribe-section-form">-->
        <!--<h4 class="section-title">Subscribe to.me</h4>-->
        <!--<form id="subscribe-form" class="input-group" autocomplete="on">-->
        <!--<i class="subscribe-icon fa fa-envelope-o"></i>-->
        <!--<div class="input-group">-->
        <!--<div class="input-group-addon">-->
        <!--<span class="fa fa-at"></span>-->
        <!--</div>-->
        <!--<input type="text" name="u_mail" placeholder="Enter email"-->
        <!--class="form-control requiredField email" value="">-->
        <!--</div>-->
        <!--<input class="btn" type="submit" value="sing up">-->
        <!--</form>-->
        <!--</div>-->
    </div>
</section>
<footer>
    <div class="container-footer">
        <div class="block-footer">
            <div class="">
                <h4>Contacts</h4>
                <p class="line-lg"><span></span></p>
                <p class="footer-adress">Warsaw</p>
                <a class="footer-tell" href="tel:+48790390855">+48 790 390 855</a>
                <a class="footer-mail" href="mailto:upirvo@gmail.com">upirvo@gmail.com</a>
            </div>

            <div class="">
                <ul class="social-network">
                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-github"></span></a></li>
                </ul>
            </div>
            <div class="">
                <div class="footer-copyright">
                    <p>© 2016 Vitalii Upir.</p>
                    <p>All rights reserved</p>
                </div>
            </div>
        </div>
        <div class="block-footer footer-menu">
            <h4>Sections</h4>
            <p class="line-lg"><span></span></p>
            <ul class="sections">
                <li><a href="#main-section">Home</a></li>
                <li class="navbar-mobile-about"><a href="#about-section">About me</a></li>
                <li><a href="#cv-section">CV</a></li>
                <li><a href="#timeline-section">timeline</a></li>
                <li><a href="#projects-section">Projects</a></li>
                <li><a href="#skills-section">Skill mix</a></li>
                <li><a href="#blog" class="no-event" href="http://upir.me/blog">Blog</a></li>
                <li><a href="#contacts-section">Contacts</a></li>
            </ul>
        </div>

        <div class="map-container">
            <div id="map" class="google-map-block"></div>
        </div>

    </div>
</footer>

<script src="js/vendor/jQuery/jquery-1.12.3.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD1OiFyXKfa5SSijRXaRLfe4rfOeOTFag"></script>
<script src="js/main.js"></script>
<script src="js/vendor/timelineCV/dist/jquery.timelineCV-0.2.1.js"></script>
<script>
    $(document).ready(function () {
        $(this).load(function () {
            var preloader = $('#page-preloader');
            preloader.removeClass('pageload-loading');
        });

        if (!$('.main-section').hasClass("no-index")) {
            var h = $(window).height();
            $('.main-section .main-bg').css('height', h);
            if (h > 640) {
                $('#about-section').css('height', h - h * 0.13);
            }
            $(window).resize(function () {
                $('.main-section .main-bg').css('height', h);
                if (h > 640) {
                    $('#about-section').css('height', h - h * 0.13);
                }
                //    $('#about-section').css('height', $(window).height() - $(window).height() * 0.13);
                /*if ($('.timeline-cv').height() < $(window).height()) {
                 $('.bg-timeline-section').css('height', $(window).height());
                 }else {
                 $('.timeline-cv').css('height', '100%');
                 $('.bg-timeline-section').css('height', '100%');
                 }*/
            });
        }

        // footer map
        // init google map
        function initialize() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                scrollwheel: false,
                center: {lat: 52.231987, lng: 21.014571}
            });

            // marker
            var marker = new google.maps.Marker({
                map: map,
                position: {lat: 52.231987, lng: 21.014571},
                title: 'Warsaw'
            });

        }
        ;

        google.maps.event.addDomListener(window, 'load', initialize);

        // footer map open
        $(document).on("click", ".open-map", function () {
            $(this).addClass("_open-map");
            return false;
        });
        $(document).on("click", "#map", function () {
            return false;
        });
        $(document).on("click", "body", function () {
            $('.open-map').removeClass("_open-map");
        });
        // footer map end

        $('.main-bg .container').click(function (e) {
            if (e.target != this) return false;

            $('.main-section').toggleClass('u-grey');
        });
        /* $.ajaxSetup({
         async: false
         });*/
        $.getJSON("/files/resume.json", function (data) {
            console.log("success");
            $('.timeline').timelineCV({ //user configuration
                containerDetail: '.timeline-detail-block',
                containerSkills: '.skills-block',
                data: data,
                typeOfTimeline: "default",
                typeOfView: "horizontal",
                created: function (e, el) {
                    var rippleButton = new RippleButton();
                    rippleButton.init();
                }
            })
            $(window).on('load', function () {
                var $preloader = $('.page-preloader');
                //$spinner   = $preloader.find('.spinner');
                //$spinner.fadeOut();
                $preloader.delay(550).fadeOut('slow');
                $preloader.on('animationend webkitAnimationEnd oanimationend MSAnimationEnd', function (e) {
                    $(this).remove();
                });
            });
        }).fail(function () {
            console.log("error");

        }).always(function () {
            if ($('.timeline').height() < $(window).height()) {
                $('.timeline').css('height', $(window).height() - 100);
            }

        });


    })
    ;
    //


</script>
</body>
</html>
