<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
<!-- preloader -->
<div id="page-preloader" class="page-preloader">
    <div class="preloader">

    </div>
</div>

<header class="u-header">
    <nav class="navbar">
        <div class="main-menu">
            <ul class="main-menu-nav">
                <li><a href="#main-section">Home</a></li>
                <li><a href="#cv-section">CV</a></li>
                <li><a href="#projects-section">Projects</a></li>
                <li><a class="no-event logo" href="https://upir.me">Vitalii.Upir</a></li>
                <li><a class="no-event" href="http://upir.me/blog">Blog</a></li>
                <li><a href="#contacts-section">Contacts</a></li>
            </ul>
        </div>
    </nav>
</header>
<!-- main section -->
<section id="main-section" class="theme-section main-section u-left">
    <div id="main-bg" class="main-bg scale" style="background-image: url('./images/me4.jpg');"></div>
    <div class="container">
        <div class="head-title-block main-section-title">
            <h1 class="theme-animation fadeInDown animation-delay-1 animation-delay-0 animateIt">DEVELOPER</h1>
            <h3 class="theme-animation fadeInDown animation-delay-2 animation-delay-1 animateIt">
                World wide web creating
            </h3>
            <a class="btn theme-animation fadeInDown animation-delay-3 animation-delay-2 animateIt"
               href="#contacts-section">
                Contact . me
            </a>
        </div>
    </div>
</section>
<!-- CV section -->
<section id="cv-section" class="theme-section cv-section">
    <div class="next-section">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos error et ex molestias necessitatibus,
            optio perspiciatis, quae quas ratione reprehenderit sed suscipit? Adipisci dignissimos eum harum minima
            molestiae nihil repudiandae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolores expedita incidunt odit omnis
            sapiente unde. Alias beatae consectetur delectus doloremque eius id, in laudantium, minus nihil quam quod
            voluptatem!</p>
        <p>Amet explicabo fugit minus nemo quasi quos temporibus voluptatibus. Alias et exercitationem quo reiciendis
            similique. Ad animi, at dolores eum fuga modi nobis, nostrum pariatur quibusdam sit tenetur veritatis
            voluptate!</p>
        <p>Adipisci dolor est unde veritatis! Asperiores cumque dolor, dolorum esse, facere id illo iste libero natus
            officia pariatur perferendis provident quod quos repellendus reprehenderit sint, tenetur vel velit voluptate
            voluptatem!</p>
        <p>Blanditiis illum ipsa ipsam laboriosam tempore. Aperiam corporis dicta dignissimos esse ex facere fuga minima
            modi, nobis, nostrum officia omnis perspiciatis praesentium, quae quam quas recusandae rem repudiandae
            sapiente sunt?</p>
    </div>
</section>

<!-- Project section -->
<section id="projects-section" class="theme-section project-section">
    <div class="next-section">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos error et ex molestias necessitatibus,
            optio perspiciatis, quae quas ratione reprehenderit sed suscipit? Adipisci dignissimos eum harum minima
            molestiae nihil repudiandae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolores expedita incidunt odit omnis
            sapiente unde. Alias beatae consectetur delectus doloremque eius id, in laudantium, minus nihil quam quod
            voluptatem!</p>
        <p>Amet explicabo fugit minus nemo quasi quos temporibus voluptatibus. Alias et exercitationem quo reiciendis
            similique. Ad animi, at dolores eum fuga modi nobis, nostrum pariatur quibusdam sit tenetur veritatis
            voluptate!</p>
        <p>Adipisci dolor est unde veritatis! Asperiores cumque dolor, dolorum esse, facere id illo iste libero natus
            officia pariatur perferendis provident quod quos repellendus reprehenderit sint, tenetur vel velit voluptate
            voluptatem!</p>
        <p>Blanditiis illum ipsa ipsam laboriosam tempore. Aperiam corporis dicta dignissimos esse ex facere fuga minima
            modi, nobis, nostrum officia omnis perspiciatis praesentium, quae quam quas recusandae rem repudiandae
            sapiente sunt?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos error et ex molestias necessitatibus,
            optio perspiciatis, quae quas ratione reprehenderit sed suscipit? Adipisci dignissimos eum harum minima
            molestiae nihil repudiandae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolores expedita incidunt odit omnis
            sapiente unde. Alias beatae consectetur delectus doloremque eius id, in laudantium, minus nihil quam quod
            voluptatem!</p>
        <p>Amet explicabo fugit minus nemo quasi quos temporibus voluptatibus. Alias et exercitationem quo reiciendis
            similique. Ad animi, at dolores eum fuga modi nobis, nostrum pariatur quibusdam sit tenetur veritatis
            voluptate!</p>
        <p>Adipisci dolor est unde veritatis! Asperiores cumque dolor, dolorum esse, facere id illo iste libero natus
            officia pariatur perferendis provident quod quos repellendus reprehenderit sint, tenetur vel velit voluptate
            voluptatem!</p>
        <p>Blanditiis illum ipsa ipsam laboriosam tempore. Aperiam corporis dicta dignissimos esse ex facere fuga minima
            modi, nobis, nostrum officia omnis perspiciatis praesentium, quae quam quas recusandae rem repudiandae
            sapiente sunt?</p>
    </div>
</section>


<!-- Contacts section -->
<section id="contacts-section" class="theme-section contact-section">
    <div class="main-bg scale" style="background-image: url('./images/me1.jpg');"></div>
    <div class="theme-inner-content">
        <div class="container">

            <form id="callback-form2" class="contact-section-form" autocomplete="on">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="fa fa-user"></span></div>
                            <input type="text" name="u_name" placeholder="Name" class="form-control requiredField name"
                                   value="">
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="fa fa-phone"></span></div>
                            <input type="text" name="u_phone" placeholder="Phone"
                                   class="form-control requiredField phone" value="">
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="fa fa-at"></span></div>
                            <input type="text" name="u_mail" placeholder="Enter email"
                                   class="form-control requiredField email" value="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="fa fa-pencil"></span></div>
                            <textarea class="form-control message" name="u_text" placeholder="Message"
                                      rows="4"></textarea>
                        </div>
                        <input class="btn btn-primary inverse-btn" type="submit" value="Send">
                    </div>
                </div>
            </form>
            <div class="subscribe-section-form">
                <h2 class="section-title text-center ">Subscribe</h2>
                <i class="subscribe-icon fa fa-envelope-o"></i>
                <form id="subscribe-form" autocomplete="on">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="fa fa-at"></span>
                        </div>
                        <input type="text" name="u_mail" placeholder="Enter email"
                               class="form-control requiredField email" value="">
                    </div>
                    <input class="btn btn-primary inverse-btn" type="submit" value="sing up">
                </form>
            </div>
        </div>
    </div>
    <div class="theme-section-overlay overlay-dark"></div>
</section>
<footer>
    <div class="container-footer">
        <div class="block-footer">
            <div class="">
                <h4>Contacts</h4>
                <p class="line-lg"><span></span></p>
                <p class="footer-adress">Warsaw</p>
                <a class="footer-tell" href="tel:+48790390855">+48 790 390 855</a>
                <a class="footer-mail" href="mailto:upirvo@gmail.com">upirvo@gmail.com</a>
            </div>

            <div class="">
                <ul class="footer-social">
                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                </ul>
            </div>
            <div class="">
                <div class="footer-copyright">
                    <p>© 2016 Vitalii Upir.</p>
                    <p>All rights reserved</p>
                </div>
            </div>
        </div>
        <div class=" block-footer">
            <h4>SERVICES</h4>
            <p class="line-lg"><span></span></p>
            <a class="services-footer" href="#">Business processes</a>
            <a class="services-footer" href="#">Deal services</a>
            <a class="services-footer" href="#">Business processes</a>
        </div>

        <div class="block-footer map-container">
            <div id="map" class="google-map-block"></div>
        </div>

    </div>
</footer>

<script src="js/vendor/jQuery/jquery-1.12.3.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD1OiFyXKfa5SSijRXaRLfe4rfOeOTFag"></script>
<script src="js/main.js"></script>
<script>
    $(document).ready(function () {
        $(this).load(function () {
            var preloader = $('#page-preloader');
            preloader.removeClass('pageload-loading');
        });

        if (!$('.main-section').hasClass("no-index")) {
            $('.main-section').css('height', $(window).height());
            $(window).resize(function () {
                $('.main-section').css('height', $(window).height());
            });
        }


        $(document).scroll(function () {
            $().onScroll(this, 'active');
            console.log("sd");
        });
        //smoothscroll
        $('a[href^="#"]').on('click', function (e) {
            e.preventDefault();
            //$(document).off("scroll");

            $('a').each(function () {
                $(this).removeClass('active');
            });
            $(this).addClass('active');

            var target = this.hash,
                    menu = target;
            $target = $(target);
            $('html, body').stop().animate({
                'scrollTop': $target.offset().top + 2
            }, 500, 'swing', function () {
                window.location.hash = target;
                $(document).on("scroll", $().onScroll(this, 'active'));
            });
        });
        /*Main-Menu change*/
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.main-menu').addClass('main-menu-scroll');
            } else {
                $('.main-menu').removeClass('main-menu-scroll');
            }
        })

        // footer map
        // init google map
        function initialize() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                scrollwheel: false,
                center: {lat: 52.231987, lng: 21.014571}
            });

            // marker
            var marker = new google.maps.Marker({
                map: map,
                position: {lat: 52.231987, lng: 21.014571},
                title: 'Warsaw'
            });

        };

        google.maps.event.addDomListener(window, 'load', initialize);

        // footer map open
        $(document).on("click", ".open-map", function () {
            $(this).addClass("_open-map");
            return false;
        });
        $(document).on("click", "#map", function () {
            return false;
        });
        $(document).on("click", "body", function () {
            $('.open-map').removeClass("_open-map");
        });
// footer map end

        $('.main-bg')[0].addEventListener('click',function (event) {
           $('.main-bg').toggleClass('u-grey');
            console.log("qwdqwdwqddwd");
        });
    });
    //


</script>
</body>
</html>
