<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open%20Sans:300,400,600,700,800">
</head>
<body>
<!-- preloader -->
<div id="page-preloader" class="page-preloader">
    <div class="preloader">

    </div>
</div>

<header class="u-header">
    <nav class="navbar">
        <div class="main-menu">
            <ul class="main-menu-nav">
                <li><a class="no-event logo" href="https://upir.me">Vitalii.Upir</a></li>
                <li><a href="#main-section">Home</a></li>
                <li><a href="#timeline-section">timeline</a></li>
                <li><a href="/files/CV_DEV1_PL.pdf">CV</a></li>
                <li><a href="#projects-section">Projects</a></li>
                <li><a href="#skills-section">Skill mix</a></li>
                <li><a class="no-event" href="http://upir.me/blog">Blog</a></li>
                <li><a href="#contacts-section">Contacts</a></li>
                <li><a href="">Language</a></li>
            </ul>
        </div>
    </nav>
</header>
<!-- main section -->
<section id="main-section" class="theme-section main-section">
    <!--<div id="main-bg" class="main-bg scale" style="background-image: url('./images/me4.jpg');"></div>-->
    <div class="container">
        <div class="head-title-block main-section-title">
            <h1 class="theme-animation fadeInDown animation-delay-1 animation-delay-0 animateIt">
                <a class="no-event logo" href="https://upir.me">Vitalii.Upir</a>
            </h1>
            <h3 class="theme-animation fadeInDown animation-delay-2 animation-delay-1 animateIt">
                World wide web things building
            </h3>
            <p class="line-lg"><span></span></p>
            <h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequatur cum debitis
                    deleniti dicta dolor dolorum est exercitationem facere ipsam obcaecati odit omnis pariatur
                    perferendis quas, reiciendis repellendus sed vitae.
                    Привет!
                </p>
            </h5>
            <ul class="social-network">
                <li><a href="https://www.linkedin.com/in/vitaliy-upir-20020313?trk=hp-identity-name"
                       target="_blank"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="https://www.facebook.com/upirvo" target="_blank"><span class="fa fa-facebook"></span></a>
                </li>
                <li><a href="https://github.com/sonik9" target="_blank"><span class="fa fa-github"></span></a></li>
                <li style="color: #ffffff">
                    <a class="btn theme-animation fadeInDown animation-delay-3 animation-delay-2 animateIt"
                       href="#contacts-section">
                        Contact . me
                    </a>
                </li>
            </ul>

        </div>
    </div>
</section>
<!-- timeline section -->
<section id="timeline-section" class="theme-section timeline-section">
    <div class="container">
        <h2 class="section-title">Timeline</h2>
        <p class="section-description">My job and education.</p>
        <hr>
        <p>Under Construction</p><p>Under Construction</p><p>Under Construction</p>
    </div>
</section>

<!-- Project section -->
<section id="projects-section" class="theme-section project-section">
    <div class="container">
        <h2 class="section-title">Projects</h2>
        <p class="section-description">My training and practice.</p>
        <!--<div class="news-list version-2">
            <div class="col-xs-12 col-sm-8 nopadding">
                <div class="news-item left">
                    <div class="news-img-block">
                        <canvas width="1" height="1" class="square-img"
                                style="background-image:url('./images/news-1.jpg');"></canvas>
                    </div>
                    <div class="news-text-block">
                        <canvas width="1" height="1" class="square-img"></canvas>
                        <div class="inner-wrap">
                            <h5>Knowing Your Rights As</h5>
                            <p class="news-date">09 June 2015</p>
                            <p class="line-lg"><span></span></p>
                            <p class="news-text-block-text">We delve into common stock owners' privileges and how to be
                                vigilant in monitoring a company. Learn how to break down and understand a corporate
                                budget.
                            </p>
                        </div>
                    </div>
                    <a class="btn btn-primary" href="./blog_post.html">Read more</a>
                </div>
                <div class="news-item right">
                    <div class="news-img-block">
                        <canvas width="1" height="1" class="square-img"
                                style="background-image:url('./images/news-2.jpg');"></canvas>
                    </div>
                    <div class="news-text-block">
                        <canvas width="1" height="1" class="square-img"></canvas>
                        <div class="inner-wrap">
                            <h5>The Benefits Of Corporate</h5>
                            <p class="news-date">10 June 2015</p>
                            <p class="line-lg"><span></span></p>
                            <p class="news-text-block-text">Many U.S. companies have found it advantageous to relocate
                                their headquarters rather than face the highest corporate tax rates in the world
                                regardless...</p>
                        </div>
                    </div>
                    <a class="btn btn-primary" href="./blog_post.html">Read more</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 nopadding">
                <div class="news-item top">
                    <div class="news-img-block">
                        <canvas width="1" height="1" class="square-img"
                                style="background-image:url('./images/news-3.jpg');"></canvas>
                    </div>
                    <div class="news-text-block">
                        <canvas width="1" height="1" class="square-img"></canvas>
                        <div class="inner-wrap">
                            <h5>4 Ways Millennials Can Buy</h5>
                            <p class="news-date">11 June 2015</p>
                            <p class="line-lg"><span></span></p>
                            <p class="news-text-block-text">Buying private businesses is a good way to have greater
                                control over your investments while increasing your income and avoiding the fluctuations
                                of the market.</p>
                        </div>
                    </div>
                    <a class="btn btn-primary" href="./blog_post.html">Read more</a>
                </div>
            </div>
        </div>-->
        <hr>
        <p>Under Construction</p>
        <p>Under Construction</p>
        <p>Under Construction</p>
    </div>
</section>

<section id="skills-section" class="theme-section skill-section">
    <div class="container">
        <h2 class="section-title"> Skill Mix</h2>
        <p class="section-description">My practical experience.</p>
        <hr>
        <p>Under Construction</p>
        <p>Under Construction</p>
        <p>Under Construction</p>
    </div>
</section>

<!-- Contacts section -->
<section id="contacts-section" class="theme-section contact-section row">
    <div class="col contact-section-form">
        <h4 class="section-title">Contact to.me</h4>
        <form id="callback-form" class="" autocomplete="on">

            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="fa fa-user"></span></div>
                        <input type="text" name="u_name" placeholder="Name" class="form-control requiredField name"
                               value="">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="fa fa-phone"></span></div>
                        <input type="text" name="u_phone" placeholder="Phone"
                               class="form-control requiredField phone" value="">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="fa fa-at"></span></div>
                        <input type="text" name="u_mail" placeholder="Enter email"
                               class="form-control requiredField email" value="">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="fa fa-pencil"></span></div>
                            <textarea class="form-control message" name="u_text" placeholder="Message"
                                      rows="6"></textarea>
                        <input class="btn" type="submit" value="Send">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col subscribe-section-form">
        <h4 class="section-title">Subscribe to.me</h4>
        <form id="subscribe-form" class="input-group" autocomplete="on">
            <i class="subscribe-icon fa fa-envelope-o"></i>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="fa fa-at"></span>
                </div>
                <input type="text" name="u_mail" placeholder="Enter email"
                       class="form-control requiredField email" value="">
            </div>
            <input class="btn" type="submit" value="sing up">
        </form>
    </div>
</section>
<footer>
    <div class="container-footer">
        <div class="block-footer">
            <div class="">
                <h4>Contacts</h4>
                <p class="line-lg"><span></span></p>
                <p class="footer-adress">Warsaw</p>
                <a class="footer-tell" href="tel:+48790390855">+48 790 390 855</a>
                <a class="footer-mail" href="mailto:upirvo@gmail.com">upirvo@gmail.com</a>
            </div>

            <div class="">
                <ul class="social-network">
                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-github"></span></a></li>
                </ul>
            </div>
            <div class="">
                <div class="footer-copyright">
                    <p>© 2016 Vitalii Upir.</p>
                    <p>All rights reserved</p>
                </div>
            </div>
        </div>
       <!-- <div class=" block-footer">
            <h4>MENU</h4>
            <p class="line-lg"><span></span></p>
            <a class="services-footer" href="#"></a>
            <a class="services-footer" href="#">Deal services</a>
            <a class="services-footer" href="#">Business processes</a>
        </div>-->

        <div class="block-footer map-container">
            <div id="map" class="google-map-block"></div>
        </div>

    </div>
</footer>

<script src="js/vendor/jQuery/jquery-1.12.3.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD1OiFyXKfa5SSijRXaRLfe4rfOeOTFag"></script>
<script src="js/main.js"></script>
<script>
    $(document).ready(function () {
        $(this).load(function () {
            var preloader = $('#page-preloader');
            preloader.removeClass('pageload-loading');
        });

        if (!$('.main-section').hasClass("no-index")) {
            $('.main-section').css('height', $(window).height());
            $(window).resize(function () {
                $('.main-section').css('height', $(window).height());
            });
        }


        $(document).scroll(function () {
            $().onScroll(this, 'active');
            console.log("sd");
        });
        //smoothscroll
        $('a[href^="#"]').on('click', function (e) {
            e.preventDefault();
            //$(document).off("scroll");

            $('a').each(function () {
                $(this).removeClass('active');
            });
            $(this).addClass('active');

            var target = this.hash,
                    menu = target;
            $target = $(target);
            $('html, body').stop().animate({
                'scrollTop': $target.offset().top + 2
            }, 500, 'swing', function () {
                window.location.hash = target;
                $(document).on("scroll", $().onScroll(this, 'active'));
            });
        });
        /*Main-Menu change*/
        $(window).scroll(function () {

            if ($(this).scrollTop() > 150) {
//                $('.main-section h1').animate({fontSize: "0"}, 0, function () {});
                $('.main-menu').addClass('main-menu-scroll');
            }
            else {
//                $('.main-section h1').animate({fontSize: "3.75em"}, 0, function () {});
                $('.main-menu').removeClass('main-menu-scroll');
            }
        })

        // footer map
        // init google map
        function initialize() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                scrollwheel: false,
                center: {lat: 52.231987, lng: 21.014571}
            });

            // marker
            var marker = new google.maps.Marker({
                map: map,
                position: {lat: 52.231987, lng: 21.014571},
                title: 'Warsaw'
            });

        }
        ;

        google.maps.event.addDomListener(window, 'load', initialize);

        // footer map open
        $(document).on("click", ".open-map", function () {
            $(this).addClass("_open-map");
            return false;
        });
        $(document).on("click", "#map", function () {
            return false;
        });
        $(document).on("click", "body", function () {
            $('.open-map').removeClass("_open-map");
        });
        // footer map end

        $('.main-bg')[0].addEventListener('click', function (event) {
            $('.main-bg').toggleClass('u-grey');
            console.log("qwdqwdwqddwd");
        });
    })
    ;
    //


</script>
</body>
</html>
